/* Sidebar */

#sidebar {
	float: left;
	width: 280px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 30px;
	padding: 0 0 10px 0px;
}

#sidebar li ul {
	margin: 0px 20px;
}

#sidebar li li {
	margin: 0px 0px 0px 0;
	padding: 10px 0px 10px 20px;
	border-bottom: 1px solid #E0E0E0;
	background: url(images/img07.jpg) no-repeat left 13px;
}

#sidebar li li a {
	font-weight: normal;
}

#sidebar li li a:hover {
	color: #666666;
}

#sidebar p {
	margin: 0;
	padding: 0px 25px;
}

#sidebar h2 {
	height: 26px;
	margin: 0 0 10px 0px;
	padding: 4px 0px 0px 20px;
	background: url(images/img03.jpg) no-repeat left top;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
}

#sidebar p {
	line-height: 200%;
}

#sidebar a {
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	color: #666666;
}

#sidebar li li a:hover {
	color: #6A6A6A;
}

#content {
	padding: 0px 20px;
}

/* Post */

.post {
	margin-bottom: 30px;
	padding-bottom: 25px;
	border-bottom: 1px solid #E0E0E0;
}

.post .title {
	height: 44px;
}

.post .title a {
	text-decoration: none;
	text-transform: capitalize;
	font-size: 30px;
	color: #404040;
}

.post .date {
}

.post .meta {
	margin-left: 2px;
	padding: 4px 30px 2px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	font-style: italic;
	color: #66665E;
}

.post .meta span {
	margin: 0px;
}

.post .meta a {
	text-decoration: none;
}

.post .entry {
	padding: 10px 0px 0px 0px;
}

.post .comments {
	display: block;
	width: 120px;
	height: 18px;
	margin: 0px;
	padding: 3px 0px 0px 40px;
	background: #90BF35;
	border: 1px solid #5F817E;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

.post .sub-title{margin: 20px 0px;}


 

.post .param .table tr{background-color: #fff;
    border-top: 1px solid #ccc;}
    
.post .param .table  th{padding: 6px 13px;
    border: 1px solid #ddd;}
.post .param .table  td{padding: 6px 13px;
    border: 1px solid #ddd;}
    
    
.markdown .table th{
    white-space: nowrap;
    font-weight: 600;
    background-color: #F7F7F7;
    border: 1px solid transparent;
}

.markdown .table tbody td{    border: 1px solid #F0F3F6;}
.markdown .table td{    padding: 8px 12px;
    font-size: 12px;
    text-align: left;
    word-break: break-word;
    word-wrap: break-word;
    min-width: 100px;}
